.parent{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    height: 300px;
    width: 280px;
    text-align: center;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 30px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap:20px
    
}
/* top */
.top{
    display: flex;
    justify-content:space-between;
    overflow: hidden;  
}

.top img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border: 1px solid #dadada;
    border-radius: 50%;
     display: block;
}
.top button{
    display: flex;
    align-items: center;
    gap:2px;
    color: #120909;
  
    padding:4px 2px;
    font-size: 10px;
    border-radius: 6px;
    background-color: rgb(204, 210, 215);
}
/* bottom */

.bottom{
    display: flex;
    justify-content: space-between;
    border-top: 3px solid #000000;
    align-items: center;
    margin-top: 30px;
}

.text{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.text p{
    font-size: small;
}
.bottom button{
   padding: 0px 4px;
  font-size: 14px;
  border-radius: 6px;
  margin: 10px;
}
/* center */
.center{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.center-txt{
    display: flex;
    align-items: start;
    flex-direction: column;
}
.center h4{
    font-size: large;
    font-weight: 600;

}
.center h4 span{
    font-size: small;
    font-weight: 300;
}

.center-txt h3{
    font-size: larger;
    font-weight: 700 ;
}
.subbt{
    display: flex;
    gap: 7px;
    margin-top: 5px;
}
.sub1{
    background-color:#dadada;
    border-radius: 5px;
    padding: 2px;
}
.sub2{
    background-color:#dadada;
    border-radius: 5px;
    padding: 2px;
}
